.banner-container{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    transition: height 1s;
    font-family: 'Bebas Neue', sans-serif;
    z-index: 1;
}

.banner-container.relative{
    position: relative;
}

.banner{
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
}

.banner.show{
    display: flex;
    animation: title-appear ease-in-out 2s;
}

.banner-title{
    font-size: 5rem;
    font-weight: 700;
    text-align: center;
    margin: auto;
}

.banner-name{
    margin: auto;
}

@keyframes title-appear {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
