@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400&family=Gamja+Flower&family=Jua&family=Nanum+Gothic:wght@800&family=Roboto:ital,wght@0,400;0,900;1,700&family=Sunflower:wght@300;500&display=swap');

html{
    font-size: 2vmin;
}

@media (max-width: 1120px) {
    html{
        font-size: 2.5vmin;
    }
}

body{
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    background-color: #D9D9D9;
    font-family: 'Jua', sans-serif;
}
::-webkit-scrollbar {
    display: none;
}

.loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #000000;
    z-index: 1;
}

.cursor-pointer{
    cursor: pointer;
}
.hidden{
    display: none;
}
