@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

body{
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    background-color: #D9D9D9;
    font-family: 'Roboto', sans-serif;
}
::-webkit-scrollbar {
    display: none;
}

.loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #000000;
    z-index: 1;
}

.cursor-pointer{
    cursor: pointer;
}
.hidden{
    display: none;
}