.visible{
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    transform: translateY(0)!important;
    opacity: 1!important;
    z-index: 1!important;
    pointer-events: auto!important;
    height: 100%!important;
}
.hidden{
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    transform: translateY(1rem);
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    height: 0;
}
