.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 1rem;

    width: 80%;
    max-width: 80%;
}

.contact-sub-title{
    font-size: 1.2rem;
    font-weight: 700;
    color: #343434;
    margin-bottom: 20px;
}

.contact-description{
    font-size: 0.8rem;
}

.contact-submit-container{
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    width: 100%;
}

.contact-submit{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    border-radius: 8px;
    outline: none;
    font-size: 0.8rem;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    margin-top: 10px;

    text-decoration: none;
    transition: opacity 0.5s ease-in-out;
}

.contact-submit:hover{
    opacity: 0.8;
}