.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 1rem 0;

    width: 80%;
    max-width: 80%;
}

.main-information-box{
    width: 100%;
    margin: auto;

    display: flex;
    justify-content: space-around;
    align-items: flex-end;

    flex-wrap: wrap;
}
.main-image{
    width: auto;
    aspect-ratio: auto 1 / 1;
    border-radius: 16px;
}

.main-information{
    font-size: 0.8rem;
    margin-bottom: 10px;
    display: flex;
}
.main-information a{
    color: #111111;
}
.main-information th{
    text-align: left;
}


@media screen and (max-width: 600px){
    .main-information-box{
        flex-direction: column;
        align-items: center;
    }
    .main-information table{
        margin-top: 10px;
    }
}

.main-description{
    font-size: 0.8rem;
}

.main-hashtag{
    font-size: 0.6rem;
    font-weight: 600;
    color: #6c6c6c;
}

.main-button-box{
    display: flex;
    margin: auto;
}

.main-button{
    cursor: pointer;
}
.main-button:hover{
    transform: translateY(0.5rem);
    transition: transform 0.5s ease-in-out;
}